@charset "utf-8";

/*Header*/
$header: 330px;
$title-height:262px;
$title-width:200px;
.skinHeaderFrame{
	background:image-url('header.jpg') no-repeat center top;
	-webkit-background-size: cover;-o-background-size: cover; background-size: cover;
	height: $header;
}
.skinHeaderArea{//クリック範囲-横幅
	position: fixed;
	z-index: 1999;
	background:image-url('title-base.png') no-repeat left top;
	height: $title-height;
	width: $title-width;
	height: $header;
}
.skinHeaderArea2{
	position: relative;
	background: image-url('title-1.png') no-repeat 20px 31px;
}
.skinBlogHeadingGroupArea{
	position: relative;
	background: image-url('title-2.png') no-repeat 30px 105px;
}
.skinTitle{//クリック範囲,非表示
	display:block;
	height: $title-height;
	width: $title-width;
	text-indent: -500px;
}
.skinDescriptionArea{//非表示 - ブログの説明
	display: none;
}
.skinTitleArea,.skinBlogHeadingGroupArea{//ズレ防止
	padding: 0;
}