@charset "utf-8";

/*Sidebar*/
$image: sprite-map("Sprite/*.png",$layout: smart); 
@mixin splite($spname) {
	background: sprite($image,$spname) no-repeat;
	@include sprite-dimensions($image, $spname);
}

.centerTextLink{//広告
	@include border-radius(0);
	background:rgba(255,255,255,0.3);
	border:none;
	margin-bottom: 33px;
}
.userProfileImage{//プロフ画像丸く
	@include border-radius(17px);
	border: 0;
}
.freespaceArea.subModule{//にこのプロフィール
	margin-bottom: 0;
	.skinMenu2{
		padding-top:3px;
	}
	.skinMenuBody{
		background:#fff;
		padding:10px 10px 0;
		margin:0 10px;
	}
}
.plugin{
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.nicotan{
		background:#fff;
		padding:10px;
		margin:0 10px;
}
.skinMenu,.freespaceArea.subModule{//背景
	background: rgba(255,255,255,0.3);
}
.skinMenuBody{//要素
	margin: 0 10px 10px;
	#ArticleFooter{
		display:none;
	}
}
.blogSearchForm{//検索
	margin:0 0 10px;
}
.registArea {//登録背景
	@extend .skinMenu;
	padding:10px;
	margin:0 0 10px;
}
.registBtnArea{
	margin:0;
}
.skinImgBtnM{//登録
	background:#fff;
	width:280px;
}


.skinMenu.profileMenu .skinMenuHeader{
	@include splite(Profile);
}
.freespaceArea.subModule .skinMenuHeader{
	@include splite(Nico_Profile);
}
.skinMenu.calendarMenu .skinMenuHeader{
	@include splite(Calendar);
}
.skinMenu.themeMenu .skinMenuHeader{
	@include splite(Theme);
}
.skinMenu.recentEntriesMenu .skinMenuHeader{
	@include splite(New_article);
}
.skinMenu.readerMenu .skinMenuHeader{
	@include splite(Reader);
}
.skinMenu.favoriteMenu .skinMenuHeader{
	@include splite(Favorite);
}
.skinMenu.profileMenu,.skinMenu.calendarMenu,.skinMenu.themeMenu,.skinMenu.recentEntriesMenu,.skinMenu.readerMenu,.skinMenu.favoriteMenu,.freespaceArea.subModule{
		.skinMenuHeader{
		padding:0;
		text-indent: -150px;
		margin: 5px 11px;
		}
}
.profileMenu{
	margin-top:92px;
}

.freespaceArea .ArticleFooter{
	display: none;
}