@charset "utf-8";

/*Header*/
$header: 330px;
.skinHeaderFrame{
	background:image-url('heder.jpg') no-repeat center top;
	// -webkit-background-size: cover;-o-background-size: cover; background-size: cover;
}
header {
	// background:image-url('header.jpg') no-repeat center top;
}
.skinHeaderArea{//クリック範囲-横幅
	width:100%;
}
.skinTitle{//クリック範囲,非表示
	display:block;
	height:$header;//ヘッダーの高さ
	text-indent: -500px;
}
.skinDescriptionArea{//非表示 - ブログの説明
	display: none;
}
.articleDetailArea{//ブログの説明
	margin-left: 60px;
}
.skinTitleArea,.skinBlogHeadingGroupArea{//ズレ防止
	padding: 0;
}