/*Header*/
.skinHeaderFrame {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/header.jpg?1418205515') no-repeat center top;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 330px;
}

.skinHeaderArea {
  position: fixed;
  z-index: 1999;
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/title-base.png?1418205515') no-repeat left top;
  height: 262px;
  width: 200px;
  height: 330px;
}

.skinHeaderArea2 {
  position: relative;
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/title-1.png?1418205515') no-repeat 11px 31px;
  background-size: 88%;
}

.skinBlogHeadingGroupArea {
  position: relative;
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/title-2.png?1418205515') no-repeat 30px 105px;
}

.skinTitle {
  display: block;
  height: 262px;
  width: 200px;
  text-indent: -1000px;
}

.skinDescriptionArea {
  display: none;
}

.skinTitleArea, .skinBlogHeadingGroupArea {
  padding: 0;
}

/*Article*/
.userLinkArea {
  margin: 5px 0 0;
}

.imagelistLink {
  padding: 0 !important;
}

.skinPagingListColor {
  padding: 0;
}

.pagingArea {
  margin: 0 auto 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.3);
}

.skinSimpleBtn, .skinSimpleBtn:focus, .skinSimpleBtn:hover, .skinSimpleBtn:visited {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  margin-top: 5px;
}

.pagingList {
  background: #fff;
  padding: 4px 14px 3px;
  margin: 0;
}

.skinContentsFrame {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/background.png?1418205515');
}

.skinArticle {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 0 10px;
}

.skinArticleHeader2 {
  margin-top: 10px;
}

.skinArticleHeader {
  padding: 0;
  border: none;
  margin-top: 5px;
}

.skinArticleTitle, .skinArticleTitle:hover, .skinArticleTitle:focus {
  font-size: 1.8em;
}

.articleDetailArea {
  padding: 0;
  color: #646464;
}

.skinArticleBody2 {
  margin: 0 15px;
}
.skinArticleBody2 .pagingArea.entryPaging {
  display: none;
}

.articleText {
  background: #fff;
  padding: 10px 10px;
  margin-top: 5px;
}
.articleText a {
  text-decoration: underline;
}

.ArticleFooter {
  height: 143px;
  width: 400px;
  margin: 0 auto;
}
.ArticleFooter a {
  display: block;
  width: 200px;
  height: 143px;
}

.Articlemura {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/footer.gif?1418205515');
  background-position: 0 0;
  width: 200px;
  height: 143px;
}
.Articlemura:hover {
  background-position: 0 143px;
}

.Articlerank {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/footer.gif?1418205515');
  background-position: 200px 0;
  width: 200px;
  height: 143px;
  top: -143px;
  left: 200px;
  position: relative;
}
.Articlerank:hover {
  background-position: 200px 143px;
}

.skinArticleFooter {
  border-top: 0;
  margin: 0 auto;
}

.articleThemeListArea {
  margin: 5px 0;
}

.articleImageListArea {
  margin: 0;
}

/*Sidebar*/
.centerTextLink {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  margin-bottom: 33px;
}

.userProfileImage {
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  border: 0;
}

.freespaceArea.subModule {
  margin-bottom: 0;
}
.freespaceArea.subModule .skinMenu2 {
  padding-top: 3px;
}
.freespaceArea.subModule .skinMenuBody {
  background: #fff;
  padding: 10px 10px 0;
  margin: 0 10px;
}

.plugin {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.nicotan {
  background: #fff;
  padding: 10px;
  margin: 0 10px;
}

.skinMenu, .registArea, .freespaceArea.subModule {
  background: rgba(255, 255, 255, 0.3);
}

.skinMenuBody {
  margin: 0 10px 10px;
}
.skinMenuBody #ArticleFooter {
  display: none;
}

.blogSearchForm {
  margin: 0 0 10px;
}

.registArea {
  padding: 10px;
  margin: 0 0 10px;
}

.registBtnArea {
  margin: 0;
}

.skinImgBtnM {
  background: #fff;
  width: 280px;
}

.skinMenu.profileMenu .skinMenuHeader, .profileMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/Sprite-s0846d9c175.png') 0 -131px no-repeat;
  height: 44px;
  width: 183px;
}

.freespaceArea.subModule .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/Sprite-s0846d9c175.png') 0 -220px no-repeat;
  height: 46px;
  width: 185px;
}

.skinMenu.calendarMenu .skinMenuHeader, .calendarMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/Sprite-s0846d9c175.png') 0 -175px no-repeat;
  height: 45px;
  width: 185px;
}

.skinMenu.themeMenu .skinMenuHeader, .themeMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/Sprite-s0846d9c175.png') 0 -87px no-repeat;
  height: 44px;
  width: 183px;
}

.skinMenu.recentEntriesMenu .skinMenuHeader, .recentEntriesMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/Sprite-s0846d9c175.png') 0 -43px no-repeat;
  height: 44px;
  width: 183px;
}

.skinMenu.readerMenu .skinMenuHeader, .readerMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/Sprite-s0846d9c175.png') 0 0 no-repeat;
  height: 43px;
  width: 184px;
}

.skinMenu.favoriteMenu .skinMenuHeader, .favoriteMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog/master/images/Sprite-s0846d9c175.png') 0 -266px no-repeat;
  height: 47px;
  width: 185px;
}

.skinMenu.profileMenu .skinMenuHeader, .profileMenu.registArea .skinMenuHeader, .skinMenu.calendarMenu .skinMenuHeader, .calendarMenu.registArea .skinMenuHeader, .skinMenu.themeMenu .skinMenuHeader, .themeMenu.registArea .skinMenuHeader, .skinMenu.recentEntriesMenu .skinMenuHeader, .recentEntriesMenu.registArea .skinMenuHeader, .skinMenu.readerMenu .skinMenuHeader, .readerMenu.registArea .skinMenuHeader, .skinMenu.favoriteMenu .skinMenuHeader, .favoriteMenu.registArea .skinMenuHeader, .freespaceArea.subModule .skinMenuHeader {
  padding: 0;
  text-indent: -1000px;
  margin: 5px 11px;
}

.profileMenu {
  margin-top: 92px;
}

.freespaceArea .ArticleFooter {
  display: none;
}

.footerNav {
  background: rgba(255, 255, 255, 0.6);
  padding: 3px;
  padding-bottom: 0;
}
.footerNav li {
  margin-bottom: 2px;
}
.footerNav a, .footerNav span {
  background-image: url('https://rawgit.com/mikan-megane/Blog/master/images/footer_nav.png?1418205515');
}

.skinMessageBoard {
  border: 0;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.headerBnrArea {
  padding-bottom: 0;
  height: 0;
}

.skinImgBtnS {
  background-image: none;
  background: rgba(255, 255, 255, 0.3);
}

#naviLink {
  display: none !important;
}

.skinFrame {
  padding-top: 0;
}
