/*Header*/
.skinHeaderFrame {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/header.jpg?1401098417') no-repeat center top;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 330px;
}

header {
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  height: 80px;
  width: 100%;
}

.skinHeaderArea {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/Title.png?1401096715') no-repeat left top;
  width: 100%;
}

.skinTitle {
  display: block;
  height: 80px;
  text-indent: -500px;
}

.skinDescriptionArea {
  display: none;
}

.articleDetailArea {
  margin-left: 60px;
}

.skinTitleArea, .skinBlogHeadingGroupArea {
  padding: 0;
}

/*Article*/
.userLinkArea {
  margin: 5px 0 0;
}

.imagelistLink {
  padding: 0 !important;
}

.skinPagingListColor {
  padding: 0;
}

.pagingArea {
  margin: 0 auto 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.4);
}

.skinSimpleBtn, .skinSimpleBtn:focus, .skinSimpleBtn:hover, .skinSimpleBtn:visited {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  margin-top: 5px;
}

.pagingList {
  background: #fff;
  padding: 4px 14px 3px;
  margin: 0;
}

.skinContentsFrame {
  background: #f2d3a7;
}

.skinArticle {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 0 10px;
}

.skinArticleHeader {
  margin: 0 75px;
  padding: 0;
  border: none;
}

.skinArticleTitle, .skinArticleTitle:hover, .skinArticleTitle:focus {
  font-size: 1.8em;
}

.articleDetailArea {
  padding: 0;
  color: #646464;
}

.skinArticleBody2 {
  margin: 0 15px;
}
.skinArticleBody2 .pagingArea.entryPaging {
  display: none;
}

.articleText {
  background: #fff;
  padding: 10px 10px;
  margin-top: 5px;
}
.articleText a {
  text-decoration: underline;
}

#ArticleFooter a {
  float: left;
  overflow: hidden;
  display: block;
  height: 161.2px;
  width: 146.4px;
}

#ArticleFooterimg {
  margin-left: 75px;
}

.rank img {
  margin-left: 0;
}

.mura img {
  margin-left: -146.4px;
}

.peta img {
  margin-left: -292.8px;
}

.rank img:hover, .mura img:hover, .peta img:hover {
  margin-top: -161.2px;
}

.skinArticle3 {
  padding-top: 13px;
}

.skinArticle.themeNumber10073685232 .detailOn img {
  width: 450px;
}

.skinArticleFooter {
  border-top: 0;
  margin: 0 auto;
}

.articleThemeListArea {
  margin: 5px 0;
}

.articleImageListArea {
  margin: 0;
}

/*Sidebar*/
.centerTextLink {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  margin-bottom: 33px;
}

.userProfileImage {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  border: 0;
}

.freespaceArea.subModule {
  margin-bottom: 0;
}
.freespaceArea.subModule .skinMenu2 {
  padding-top: 3px;
}
.freespaceArea.subModule .skinMenuBody {
  background: #fff;
  padding: 10px 10px 0;
  margin: 0 10px;
}

.plugin {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.nicotan {
  background: #fff;
  padding: 10px;
  margin: 0 10px;
}

.skinMenu, .registArea, .freespaceArea.subModule, .plugin {
  background: rgba(255, 255, 255, 0.4);
}

.skinMenuBody {
  margin: 0 10px 10px;
}
.skinMenuBody #ArticleFooter {
  display: none;
}

.blogSearchForm {
  margin: 0 0 10px;
}

.registArea {
  padding: 10px;
  margin: 0 0 10px;
}

.registBtnArea {
  margin: 0;
}

.skinImgBtnM {
  background: #fff;
  width: 280px;
}

.skinMenu.profileMenu .skinMenuHeader, .profileMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/Sprite-s0ded0b4385.png') 0 -162px no-repeat;
  height: 55px;
  width: 229px;
}

.freespaceArea.subModule .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/Sprite-s0ded0b4385.png') 0 -332px no-repeat;
  height: 58px;
  width: 231px;
}

.skinMenu.calendarMenu .skinMenuHeader, .calendarMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/Sprite-s0ded0b4385.png') 0 -217px no-repeat;
  height: 57px;
  width: 231px;
}

.skinMenu.themeMenu .skinMenuHeader, .themeMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/Sprite-s0ded0b4385.png') 0 0 no-repeat;
  height: 54px;
  width: 229px;
}

.skinMenu.recentEntriesMenu .skinMenuHeader, .recentEntriesMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/Sprite-s0ded0b4385.png') 0 -108px no-repeat;
  height: 54px;
  width: 229px;
}

.skinMenu.readerMenu .skinMenuHeader, .readerMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/Sprite-s0ded0b4385.png') 0 -54px no-repeat;
  height: 54px;
  width: 229px;
}

.skinMenu.favoriteMenu .skinMenuHeader, .favoriteMenu.registArea .skinMenuHeader {
  background: url('https://rawgit.com/mikan-megane/Blog-test/master/images/Sprite-s0ded0b4385.png') 0 -274px no-repeat;
  height: 58px;
  width: 231px;
}

.skinMenu.profileMenu .skinMenuHeader, .profileMenu.registArea .skinMenuHeader, .skinMenu.calendarMenu .skinMenuHeader, .calendarMenu.registArea .skinMenuHeader, .skinMenu.themeMenu .skinMenuHeader, .themeMenu.registArea .skinMenuHeader, .skinMenu.recentEntriesMenu .skinMenuHeader, .recentEntriesMenu.registArea .skinMenuHeader, .skinMenu.readerMenu .skinMenuHeader, .readerMenu.registArea .skinMenuHeader, .skinMenu.favoriteMenu .skinMenuHeader, .favoriteMenu.registArea .skinMenuHeader, .freespaceArea.subModule .skinMenuHeader {
  padding: 0;
  text-indent: -100px;
  margin: 3px 5px;
}

.profileMenu {
  margin-top: 92px;
}

ul#amebaBar {
  background: rgba(255, 255, 255, 0.8);
}

.barItem, .barMenu {
  display: none !important;
}

#barLogoTop > a {
  height: 15px;
  width: 67px;
  display: block;
  margin: 3px 0 0 5px;
}
#barLogoTop > a img {
  display: none;
}
#barLogoTop ul {
  margin: -18px 0 0 72px;
}

.footerNav {
  background: rgba(255, 255, 255, 0.6);
  padding: 3px;
  padding-bottom: 0;
}
.footerNav li {
  margin-bottom: 2px;
}

.skinMessageBoard {
  border: 0;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.headerBnrArea {
  padding-bottom: 0;
  height: 0;
}

.skinImgBtnS {
  background-image: none;
  background: rgba(255, 255, 255, 0.4);
}

#naviLink {
  display: none !important;
}

.skinFrame {
  padding-top: 0;
}
